
.nav{
      
      list-style-type: none;
      margin:0;
      padding:0;
      width: 100%;
      overflow: hidden;
      background-color: #000000c4;
      display: flex;
      justify-content: center;
      color: aliceblue;
      z-index: 100;
      position: fixed;

     
}
.n0{
    margin-top: 13px;
    font-size: 20px;
}
.n1 {
    float: left;
    padding-left:5px ;
    margin-left: 5px;
    
  }
  
.n1 a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:15px;
   
  }
  .n3 a{
    color: rgb(255, 255, 255);
  }.n3{
    margin-top: 13px;
    font-size: 20px;
  }
  .n4 a{
    color: rgb(255, 255, 255);
  }.n4{
    margin-top: 12px;
    font-size: 20px;
    margin-left: 30px;
  }
  
 .line2{
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    height: 50px;
 } 
 .bl{color: blue;}
 .toppic1{
  position: relative;
}
.top{
  /* display: flex;
  justify-content: center; */
 width: 100%;
 height: auto;
}
.btn1{
  background-color: rgb(9, 123, 168);
  color: white;
  border-radius: 35px;
  border: 0px;
  padding: 1% 1%;
  position: absolute;
  top: 25%;
  left: 43%;
  font-size: large;
  
}
.btn2{
  position: absolute;
  background-color:black;
  color: rgb(25, 102, 153);
  border: 1px solid rgb(21, 116, 160);
  top: 25%;
  left: 52%;
  border-radius: 40px;
  padding: 1% 2%;
  font-size: large;
  

}
.btn2:hover{
  color: white;
  background-color: rgb(34, 123, 158);
}
.top2{
  position: relative;
}
.scnd{
  width: 100%;

}

.sbtn1{
  background-color: rgb(9, 123, 168);
  color: white;
  border-radius: 40px;
  border: 0px;
  padding: 14px 25px;
  position: absolute;
  top: 27%;
  left: 42%;
  font-size: large;
  
}
.sbtn2{
  position: absolute;
  background-color:rgb(233, 233, 233);
  color: rgb(25, 102, 153);
  border: 1px solid rgb(21, 116, 160);
  top: 27%;
  left: 52%;
  border-radius: 40px;
  padding: 14px 25px;
  font-size: large;
  

}
.sbtn2:hover{
  color: white;
  background-color: rgb(34, 123, 158);
}
.top3{
  position: relative;
}
.thrd{
  width: 100%;
}
.sb1{
  background-color: rgb(228, 227, 227);
  color: rgb(27, 161, 161);
  border: 1px solid rgb(32, 132, 172);
  border-radius: 40px;
  padding: 14px 25px;
  position: absolute;
  top: 700px;
  left: 48%;
  font-size: large;
}
.sb1:hover{
  background-color: rgb(28, 138, 165);
  color: white;

}
.box1{
  display: grid;
  grid-template-columns: auto auto;
  
}
.box11{
 position:relative;

}
.zbtn1{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 40px;
  border: 0px;
  padding: 10px 20px;
  position: absolute;
  top: 25%;
  left: 35%;
  font-size: small;
  
}
.zbtn2{
  position: absolute;
  background-color:rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  border: .5px solid rgb(255, 255, 255);
  top: 25%;
  left: 48%;
  border-radius: 40px;
  padding: 10px 20px;
  font-size: small;
  

}
.zbtn2:hover{
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
.xbtn1{
  background-color: rgb(26, 110, 221);
  color: rgb(255, 255, 255);
  border-radius: 40px;
  border: 0px;
  padding: 10px 20px;
  position: absolute;
  top: 27%;
  left: 42%;
  font-size: small;
  
}
.ybtn1{
  background-color: rgb(0, 147, 206);
  color: rgb(252, 252, 252);
  border-radius: 40px;
  border: 0px;
  padding: 10px 20px;
  position: absolute;
  top: 27%;
  left: 40%;
  font-size: small;
  
}
.ybtn2{
  position: absolute;
  background-color:rgba(255, 255, 255, 0);
  color: rgb(10, 158, 216);
  border: .5px solid  rgb(10, 158, 216);
  top: 27%;
  left: 53%;
  border-radius: 40px;
  padding: 10px 20px;
  font-size: small;
  

}
.ybtn2:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(10, 158, 216);
}
.abtn1{
  background-color: rgb(0, 147, 206);
  color: rgb(252, 252, 252);
  border-radius: 40px;
  border: 0px;
  padding: 10px 20px;
  position: absolute;
  top: 27%;
  left: 40%;
  font-size: small;
  
}
.abtn2{
  position: absolute;
  background-color:rgba(255, 255, 255, 0);
  color: rgb(10, 158, 216);
  border: .5px solid  rgb(10, 158, 216);
  top: 27%;
  left: 53%;
  border-radius: 40px;
  padding: 10px 20px;
  font-size: small;
  

}
.bbtn2:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(10, 158, 216);
}
.bbtn1{
  background-color: rgb(0, 147, 206);
  color: rgb(252, 252, 252);
  border-radius: 40px;
  border: 0px;
  padding: 10px 20px;
  position: absolute;
  top: 25%;
  left: 40%;
  font-size: small;
  
}
.bbtn2{
  position: absolute;
  background-color:rgba(255, 255, 255, 0);
  color: rgb(10, 158, 216);
  border: .5px solid  rgb(10, 158, 216);
  top: 25%;
  left: 53%;
  border-radius: 40px;
  padding: 10px 20px;
  font-size: small;
  

}
.abtn2:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(10, 158, 216);
}


/* .video{
  padding-top: 45px;
  width: 100%;
  height: 150px;
  position: relative;
} */
 .pg{
  background-color: rgba(177, 177, 177, 0.253);
 }
 
.prag{
  color: #303233a6;
  font-size: smaller;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: left;
  margin: 20px 490px 20px 490px;


}

.note li{
  margin-top:8px;
}
.note{
 
  display: flex;
  white-space: nowrap;
  padding: 15px;
  /* background-color: #ffffff; */
  padding-left: 80px;
  margin: auto;
  width: 50%;
  position: relative;
  text-align: center;
  font-size: smaller;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: -0.01em;
  list-style-type:none ;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-style: solid none none none;
  border-color: #353f4454;border-width: 1px;
  
}
.note div{
  flex-grow: 1;
  width: 20%;
  height: auto;
}
.note h3{
  font-size: 12px;
  line-height: 1.3333733333;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: 600;
  margin-bottom: .8em;
  margin-inline-end: 20px;
  outline: none;
}
.note ul{
  list-style-type: none;
  padding-left: 0;
}
.note ul li{
  
  padding-top: 5px;
  text-align: left;
}
.a13{
  text-decoration: none;
  color: #303233;
  position: relative;
}
.a13:hover{
  text-decoration: underline;
  color: #303233;
}
.lastp{
  color: #110f0f7e;
  margin-left: 500px
}
.footer{
  text-align: center;
  color: #30323365;
  border-style: solid none none none;
  border-color: #353f4454;border-width: 1px;
  letter-spacing: -0.01em;
  list-style-type:none ;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: smaller;
  margin: auto;
  padding: 15px;
  padding-left: 80px;
}


@media screen and (max-width:600px) {
  .box11{
    
  }
  
}