.nav{
      list-style-type: none;
      margin:0;
      padding:0;
      width: 100%;
      overflow: hidden;
      background-color: #0f0f0fa8;
      display: flex;
      justify-content: center;
      color: aliceblue;
      /* z-index: 100; */
     
}
.n0{
    margin-top: 13px;
    font-size: 20px;
}
.n1 {
    float: left;
    padding-left:5px ;
    margin-left: 5px;
    
  }
  
.n1 a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:15px;
   
  }
  .n3 a{
    color: rgb(255, 255, 255);
  }.n3{
    margin-top: 13px;
    font-size: 20px;
  }
  .n4 a{
    color: rgb(255, 255, 255);
  }.n4{
    margin-top: 12px;
    font-size: 20px;
    margin-left: 30px;
  }
  
 .line2{
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    height: 50px;
 } 
 .bl{color: blue;}
 .toppic1{
  position: relative;
}
.top{
 width: 100%;
}
.btn1{
  background-color: rgb(9, 123, 168);
  color: white;
  border-radius: 40px;
  border: 0px;
  padding: 14px 25px;
  position: absolute;
  top: 25%;
  left: 43%;
  font-size: large;
  
}
.btn2{
  position: absolute;
  background-color:black;
  color: rgb(25, 102, 153);
  border: 1px solid rgb(21, 116, 160);
  top: 25%;
  left: 52%;
  border-radius: 40px;
  padding: 14px 25px;
  font-size: large;
  

}
.btn2:hover{
  color: white;
  background-color: rgb(34, 123, 158);
}
.top2{
  position: relative;
}
.scnd{
  width: 100%;

}

.sbtn1{
  background-color: rgb(9, 123, 168);
  color: white;
  border-radius: 40px;
  border: 0px;
  padding: 14px 25px;
  position: absolute;
  top: 27%;
  left: 42%;
  font-size: large;
  
}
.sbtn2{
  position: absolute;
  background-color:rgb(233, 233, 233);
  color: rgb(25, 102, 153);
  border: 1px solid rgb(21, 116, 160);
  top: 27%;
  left: 52%;
  border-radius: 40px;
  padding: 14px 25px;
  font-size: large;
  

}
.sbtn2:hover{
  color: white;
  background-color: rgb(34, 123, 158);
}
.top3{
  position: relative;
}
.thrd{
  width: 100%;
}
.sb1{
  background-color: rgb(228, 227, 227);
  color: rgb(27, 161, 161);
  border: 1px solid rgb(32, 132, 172);
  border-radius: 40px;
  padding: 14px 25px;
  position: absolute;
  top: 700px;
  left: 48%;
  font-size: large;
}
.sb1:hover{
  background-color: rgb(28, 138, 165);
  color: white;

}
.box1{
  display: grid;
  grid-template-columns: auto auto;
}
.box11{
 
  width: 50%;
}
